body{
  color:#696969;
  text-align: center;
  font-family: 'Droid Sans', sans-serif;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}
